<% content_for(:title, project.name) %>

<div class="photo-strip photo-strip--showcase" style="background-image: url(/images/<%= project.hero_image %>)">
  <div class="photo-strip__text">
    <h1><%= project.name %></h1>
    <h2><%= project.tagline %></h2>
  </div>
</div>

<div class="sidebar-box">
  <div class="sidebar-box__wrapper">

    <article class="description">
      <p class="lede">
        <%= project.lede %>
      </p> 

      <%= project.description %>

      <% if project.name? "Solarize" %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
        <canvas id="lineChart" width="400" height="400"></canvas>
        <%= javascript_include_tag  "solarize_charts" %>
      <% end %>

      <div class="gallery">
      <% if project.photos %>
        <% project.photos.each do |i| %>
          <figure>
            <%= image_tag i.url, alt: i.desc %>
          </figure>
        <% end %>
      </div>
      <% end %>
    </article>

    <aside class="impact">
      <% if project.impact.key? 'video' %>
        <article class="impact__video">
          <h3 class="impact__video__title"><%= project.impact.video.title %></h3>
          <div class="impact__video__container">
            <iframe width="560" height="315" src="<%= project.impact.video.url %>" frameborder="0" allowfullscreen></iframe>
          </div>
        </article>
      <% end %>

      <% if project.impact.key? 'quote' %>
        <article class="impact__quote">
          <blockquote class="impact__quote__text"><%= project.impact.quote.text %></blockquote>
          <span class="impact__quote__attr"><%= project.impact.quote.author %></span>
          <span class="impact__quote__relation"><%= project.impact.quote.relation %></span>
        </article>
      <% end %>

      <% if project.impact.key? 'stats' %>
        <% if project.impact.stats%>
          <% project.impact.stats.each do |s| %>
            <article class="impact__stat">
              <span class="impact__stat__title"><%= s.title %></span>
              <span class="impact__stat__number"><%= s.number %></span>
            </article>
          <% end %>
        <% end %>
      <% end %>

    </aside>

  </div>
</div>


<div class="photo-strip " style="background-image: url(/images/<%= project.hero_image %>)"></div>