---
title: Donate
---

<div class="photo-strip photo-strip--page-header" style="background-image: url(/images/seg/donate-hero.jpg)">
  <div class="photo-strip__text bumper">
    <h1>Donate</h1>
  </div>
</div>

	 <div class="sidebar-box__wrapper">
<div class="kind">
      <h2>In Kind Donations</h2>
      <p>We would love any of your in kind donations. Please email <a href="mailto:arl23@cornell.edu">arl23@cornell.edu</a> and we will work with you.</p>
 </div>
 <div class="donation">
 	<h2>Monetary Donations</h2>
    <p>Through Cornell's Donation website, you can directly contribute to Sustainable Education Ghana. Click the link below and 
    	<ol>
    	 <li>Under "Special Instructions," write SEG</li>
		<li>Select your preferred type of donation (one-time, recurring, scheduled payments)</li>
		<li>If you would like to make your donation in honor of someone, please fill out the next page.  If not, hit continue.</li>
		<li>Complete your personal and billing information and confirm your donation</li>
	</ol>
		<b>From all of us at SEG and VAM, thank you for your contribution towards making this school a reality!</b></p>
  <a href="https://securelb.imodules.com/s/1717/alumni/index.aspx?sid=1717&gid=2&pgid=403&cid=1031&dids=142&bledit=1" target="_blank" class="button">Donate</a>
</div>
 </div>


<div class="photo-strip photo-strip--page-header" style="background-image: url(/images/seg/seg-team.jpg)">
  <div class="photo-strip__text bumper">
    <h1>The Team</h1>
  </div>
</div>

<div class="sidebar-box_team">
<div class="sidebar-box__wrapper_team">
  <div class="director">
      <h1>Project Directors</h1> 
      <%= image_tag "images/contact-images/Claudia.jpg" %>
      <h3> Claudia Nelson</h3>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui</p>
        <a href="mailto:cn253@cornell.edu">
         <%= image_tag "images/icons/email.png", class: "img_aligner_email" %>
          Email </a>
          <a href="https://www.linkedin.com/in/claudia-nielsen-97a2a1b2">
         <%= image_tag "images/icons/linkedin.png", class: "img_aligner_linkedin" %>
         LinkedIn</a><br>
      <%= image_tag "images/contact-images/Arielle.jpg" %>
      <h3> Arielle Tannin</h3>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui</p>
         <a href="mailto:adt56@cornell.edu">
       <%= image_tag "images/icons/email.png", class: "img_aligner_email" %>
         Email </a>
         <a href="https://www.linkedin.com/in/arielle-tannin-632094a9?trk=nav_responsive_tab_profile_pic"> 
         <%= image_tag "images/icons/linkedin.png", class: "img_aligner_linkedin" %>
         LinkedIn</a>
      </div>

    
     <div class="vam">
      <h2>Voices of African Mothers</h2>
     <iframe style= "margin-left:90px; margin-top:30px" src='https://player.vimeo.com/video/159445965' width=500 height=200 frameborder=0 webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
       <p> Lorem ipsum dolor sit amet, quo iisque phaedrum ad. Habeo diceret ea eum, altera aliquip ad sea. Vis ad omittam maluisse. Et pro hinc noster nominati, no odio lorem graeci cum. Vix equidem nostrum platonem in. At eam ludus honestatis, no ius audire mentitum torquatos.
           Soleat soluta an mei, cum cu epicurei definiebas. Consul doming quaeque mei ex, id ius elit tation. Vix latine vivendum te, in vim nihil dolore, duo an solet possim forensibus. Ei duo stet ignota graeco. </p>
           <%= image_tag "/images/seg/vam.png", class: "vam_logo" %>
            <a style="color:orange; margin-left:100px" href="http://www.vamothers.org/">Check out their website here</a>
    </div>


</div>
</div>



