---
title: Projects
---
<div class="projects-page">
  <div class="photo-strip photo-strip--page-header" style="background-image: url(/images/photostrips/ps7.jpg)">
    <div class="photo-strip__text">
      <h1>Our Projects</h1>
    </div>
  </div>

<!--   <div class="page-contents">
  	<h2 class="proj-list">The CUSD Process</h2>
  </div> -->
  
  <!-- OLD VERSION WITH PDF LINK BELOW
  <div class="projects-list projects-list--current-projects">
        <h2 class="projects-list__header">Current Projects</h2>
        <% data.projects.each do |project| %>
          <% if project[1].name == "Bus Shelter Renovations" or  project[1].name == "Elephant Poope" or project[1].name == "Smithsonian Energy Audit"%>
            <article class="projects-list__project">
              <% link_to "https://drive.google.com/file/d/0B9qNYnZbN40ESHA2dDZaalgwLTg/view" do %>
                <div class="projects-list__project__logo <%= project[0].split('-')[1] %>" style="background-image: url(/images/<%= project[1].logo %>); background-color: <%= project[1].color %>"></div>
              <% end %>
              <div class="projects-list__project__text">
                <% link_to "https://drive.google.com/file/d/0B9qNYnZbN40ESHA2dDZaalgwLTg/view" do %>
                <h3 class="projects-list__project__name"><%= project[1].name %></h3>
                <% end %>
                <span class="projects-list__project__tagline"><%= project[1].tagline %></span>
              </div>
            </article>
          <% else %>
            <article class="projects-list__project">
              <% link_to "/projects/#{project[0].split('-')[1]}" do %>
                <div class="projects-list__project__logo <%= project[0].split('-')[1] %>" style="background-image: url(/images/<%= project[1].logo %>); background-color: <%= project[1].color %>"></div>
              <% end %>
              <div class="projects-list__project__text">
                <% link_to "/projects/#{project[0].split('-')[1]}" do %>
                <h3 class="projects-list__project__name"><%= project[1].name %></h3>
                <% end %>
                <span class="projects-list__project__tagline"><%= project[1].tagline %></span>
              </div>
            </article>
          <% end %>
        <% end %>
      </div>
    -->
  <div class="sidebar-box">
    <div class="sidebar-box__wrapper">

      <div class="projects-list projects-list--current-projects">
        <h2 class="projects-list__header">Current Projects</h2>
        <% data.projects.each do |project| %>
            <article class="projects-list__project">
              <% link_to "/projects/#{project[0].split('-')[1]}" do %>
                <div class="projects-list__project__logo <%= project[0].split('-')[1] %>" style="background-image: url(/images/<%= project[1].logo %>); background-color: <%= project[1].color %>"></div>
              <% end %>
              <div class="projects-list__project__text">
                <% link_to "/projects/#{project[0].split('-')[1]}" do %>
                <h3 class="projects-list__project__name"><%= project[1].name %></h3>
                <% end %>
                <span class="projects-list__project__tagline"><%= project[1].tagline %></span>
              </div>
            </article>
        <% end %>
      </div>

      <aside class="choose-project">
        <h2>What Makes a Good CUSD Project?</h2>

        <div class="accordion">
          <h3 class="accordion__header">A Meaningful Student Experience</h3>
          <div class="accordion__content">
            <p>An ideal project for CUSD to tackle is complex and impactful. We choose thought provoking projects that will help the community the project is in and will hone the skills of our members. Projects that include a student travel component are always welcomed as they expose students to new cultures and engage the partner community.</p>  
          </div>
        </div>

        <div class="accordion">
          <h3 class="accordion__header">A Reliable Stakeholder</h3>
          <div class="accordion__content">
            <p>Ideally we look for a stakeholder that has an existing, positive relationship with the community, and is in need of low cost services to bring the project to fruition.</p>
            <p>The stakeholder’s mission should be aligned with the tangible aims of CUSD, and they should know exactly what they need from CUSD, but be open to creativity and innovation.</p>
            <p>Mostly, we look for stakeholders who are willing and able to serve as a mentor throughout the project.</p>  
          </div>
        </div>

        <div class="accordion">
          <h3 class="accordion__header">Multifaceted Projects</h3>
          <div class="accordion__content">
            <p>Projects should be multifaceted and a community priority. We tackle projects that require a design-build are driven or positively impacted by holistic sustainability.</p>  
          </div>
        </div>
        
        <div class="work-with-us">
          <h2 class="work-with-us__header">Interested in Working With Us?</h2>
          <p class="work-with-us__text">We scope new projects year-round and are always looking to get in touch with potential stakeholders.</p>
          <a href="mailto:cu.sustainabledesign@gmail.com?subject=Project Suggestion for CUSD" class="work-with-us__button button">Suggest a Project</a>
        </div>
      </aside>

    </div>
  </div>


  <div class="photo-strip" style="background-image: url(/images/photostrips/ps7.jpg)"></div>

  <div class="projects-secondary">
    <div class="projects-list">
      <h2 class="projects-list__header">Past Projects</h2>

      <% data.pastprojects.each do |project| %>
          <article class="projects-list__project">
            <% link_to "/projects/#{project[0].split('-')[1]}" do %>
              <div class="projects-list__project__logo <%= project[0].split('-')[1] %>" style="background-image: url(/images/<%= project[1].logo %>); background-color: <%= project[1].color %>"></div>
            <% end %>
            <div class="projects-list__project__text">
              <% link_to "/projects/#{project[0].split('-')[1]}" do %>
                <h3 class="projects-list__project__name"><%= project[1].name %></h3>
              <% end %>
              <span class="projects-list__project__tagline"><%= project[1].tagline %></span>
            </div>
          </article>
        <% end %>
      </div>

      <div class="projects-list">
        <h2 class="projects-list__header">Research, Events and Outreach</h2>
        <% data.small_projects.each do |project| %>
          <article class="projects-list__project">
            <h3 class="projects-list__project__name"><%= project.name %></h3>
            <span class="projects-list__project__tagline"><%= project.tagline %></span>
          </article>
        <% end %>
      </div>

  </div>

  <div class="photo-strip" style="background-image: url(/images/photostrips/ps7.jpg)"></div>
</div>

