---
title: SEG
---

<div class="photo-strip photo-strip--page-header" style="background-image: url(/images/seg/seg-hero.jpg)">
	<img class="seg_logo" src="/images/seg/seg-text.svg">
</div>

<div class="photo-strip photo-strip--seg " style="background-image: url(/images/seg/seg-about.jpg)">
	<div class="photo-strip__text bumper large-offset-1 columns">
		<h1>About</h1>
	</div>
</div>

<div class="about">

	<h2> Purpose </h2>
	<p> Enable girls from communities with limited resources to attain an education that fosters personal, intellectual, and vocational growth. </p>

	<h2> Mission </h2>
	<p> Inspire a love of learning and ecological stewardship in students that will allow them to incorporate economic, social, and ecological sustainability into their lives. </p>


	<h2> Vision </h2>
	<p>Empower the next generation of girls to become leaders in their communities, creating a ripple effect of elevating women’s impact in society. </p>

	<h2> Impact </h2>
	<p>The work done by the Sustainable Education Ghana team aims to be an emblem of human-centered design, educational opportunity, and sustainable practices in Ghana. Our project to design and build schoolhouse in Sogakope, Ghana came from a partnership with Voices of African Mothers. The building will be part of VAM Girls Academy; a project being developed by Voices of African Mothers to address the need for improved education and vocational training in Sogakope and surrounding areas. Combining training in ecologically friendly farming, conflict resolution, and health clinics will prepare the students we serve to become champions of equality and sustainability. </p>

</div>

<div class="team">

	<ul>

		<li>
			<%= image_tag "images/seg/members/Sirietta.jpg", class: "members" %>
			<article class="member">Sirietta Simoncini</article>
			<article class="member_info">Advisor</article>
		</li>
		<li>
			<%= image_tag "images/seg/members/Whitney.jpg", class: "members" %>
			<article class="member">Whitney Van Houten</article>
			<article class="member_info"> Advisor</article>
		</li>
		<li>
			<%= image_tag "images/seg/members/Beth.jpg", class: "members" %>
			<article class="member">Beth Burgess</article>
			<article class="member_info">Masters of Systems Engineering</article>
		</li>
		<li>
			<%= image_tag "images/seg/members/Jai.jpg", class: "members" %>
			<article class="member">Jai Bhagwat</article>
			<article class="member_info">Masters of Systems Engineering</article>
		</li>
		<li>
			<%= image_tag "images/seg/members/Kaan.jpg", class: "members" %>
			<article class="member">Kaan Nahin</article>
			<article class="member_info">Masters of Systems Engineering</article>
		</li>
		<li>
			<%= image_tag "images/seg/members/Leslie.jpg", class: "members" %>
			<article class="member">Leslie Munyao</article>
			<article class="member_info">Masters of Systems Engineering</article>
		</li>
		<li>
			<%= image_tag "images/seg/members/Taneh.jpg", class: "members" %>
			<article class="member">Taneh Worjoloh</article>
			<article class="member_info">Masters of Systems Engineering</article>
		</li>
		<li>
			<%= image_tag "images/seg/members/Jenna.jpg", class: "members" %>
			<article class="member">Jenna Levine</article>
			<article class="member_info">Materials Science and Engineering</article>
		</li>
		<li>
			<%= image_tag "images/seg/members/Sarah.jpg", class: "members" %>
			<article class="member">Sarah McDonald</article>
			<article class="member_info">Materials Science and Engineering</article>
		</li>
		<li>
			<%= image_tag "images/seg/members/Sneha.jpg", class: "members" %>
			<article class="member">Sneha Kabaria</article>
			<article class="member_info">Chemical Engineering</article>
		</li>
		<li>
			<%= image_tag "images/seg/members/Ana.jpg", class: "members" %>
			<article class="member">Ana-Moura Cook</article>
			<article class="member_info">Civil Engineering</article>
		</li>
		<li>
			<%= image_tag "images/seg/members/Brianna.jpg", class: "members" %>
			<article class="member">Brianna Hartner</article>
			<article class="member_info">Civil Engineering</article>
		</li>
		<li>
			<%= image_tag "images/seg/members/Thomas.jpg", class: "members" %>
			<article class="member">Thomas Seusser</article>
			<article class="member_info">Civil Engineering</article>
		</li>
		<li>
			<%= image_tag "images/seg/members/Anamika.jpg", class: "members" %>
			<article class="member">Anamika Goyal</article>
			<article class="member_info">Architecture</article>
		</li>
		<li>
			<%= image_tag "images/seg/members/Ben.jpg", class: "members" %>
			<article class="member">Ben Ross</article>
			<article class="member_info">Architecture</article>
		</li>
		<li>
			<%= image_tag "images/seg/members/Daniel.jpg", class: "members" %>
			<article class="member">Daniel Preston</article>
			<article class="member_info">Architecture</article>
		</li>
		<li>
			<%= image_tag "images/seg/members/Isa.jpg", class: "members" %>
			<article class="member">Isa Hübsch</article>
			<article class="member_info">Architecture</article>
		</li>
		<li>
			<%= image_tag "images/seg/members/Nandini.jpg", class: "members" %>
			<article class="member">Nandini Nayar</article>
			<article class="member_info">Computer Science and Biology</article>
		</li>
		<li>
			<%= image_tag "images/seg/members/Carli.jpg", class: "members" %>
			<article class="member">Carli Fraccarolli</article>
			<article class="member_info">Environmental Engineering</article>
		</li>
		<li>
			<%= image_tag "images/seg/members/Becca.jpg", class: "members" %>
			<article class="member">Becca Merenbach</article>
			<article class="member_info">Design and Environmental Analysis</article>
		</li>
		<li>
			<%= image_tag "images/seg/members/Faith.jpg", class: "members" %>
			<article class="member">Faith Wang</article>
			<article class="member_info">Design and Environmental Analysis</article>
		</li>
		<li>
			<%= image_tag "images/seg/members/Isabel.jpg", class: "members" %>
			<article class="member">Isabel Dunning</article>
			<article class="member_info">Design and Environmental Analysis</article> 
		</li>
	</ul> 
</div>

</div>
