---
title: SEG
---
<div class="photo-strip photo-strip--page-header" style="background-image: url(/images/seg/seg-hero.jpg)">
  <div class="photo-strip__text">
    <img class="seg_logo" src="/images/seg/seg-text.svg">
  </div>
</div>


<div class="design_build text-center">
  <h3> A design-build project by </h3>
</div>
<div class="cusd_vam text-center">
  <ul class="ul_spacer">
    <li> <%= image_tag "../images/CUSDLogoTypeGray.svg", class: "members" %>
      <article class="logo_text">Cornell University Sustainable Design</article>
    </li>
    <li><h1 class="bigX"> x</h1> </li>
    <li> <%= image_tag "../images/seg/vam.png", class: "members" %>
      <article class="logo_text">Voices of African Mothers</article>
    </li>
  </ul>
  <ul class="text-center">
    <li><h2> 500</h2> <span class="lighter">students </span></li>
    <li><h2> 5</h2> <span class="lighter">undergraduate colleges represented</span> </li>
    <li><h2> 200</h2><span class="lighter">acres </span></li>
  </ul>
</div>



<div class="about">
  <div class="photo-strip photo-strip--seg " style="background-image: url(/images/seg/seg-about.jpg)">
    <div class="photo-strip__text bumper">
      <h1>About</h1>
    </div>
  </div>
</div>


<div class="about_spacer">

  <h2> Purpose </h2>
  <p> Enable girls from communities with limited resources to attain an education that fosters personal, intellectual, and vocational growth. </p>

  <h2> Mission </h2>
  <p> Inspire a love of learning and ecological stewardship in students that will allow them to incorporate economic, social, and ecological sustainability into their lives. </p>


  <h2> Vision </h2>
  <p>Empower the next generation of girls to become leaders in their communities, creating a ripple effect of elevating women’s impact in society. </p>

  <h2> Impact </h2>
  <p>The work done by the Sustainable Education Ghana team aims to be an emblem of human-centered design, educational opportunity, and sustainable practices in Ghana. Our project to design and build schoolhouse in Sogakope, Ghana came from a partnership with Voices of African Mothers. The building will be part of VAM Girls Academy; a project being developed by Voices of African Mothers to address the need for improved education and vocational training in Sogakope and surrounding areas. Combining training in ecologically friendly farming, conflict resolution, and health clinics will prepare the students we serve to become champions of equality and sustainability. </p>
</div>
</div>

<div class="directors">

  <div class="photo-strip" style="background-image: url(/images/seg/seg-team.jpg)">
    <div class="photo-strip__text">
      <h1>Team</h1>
    </div>
      <!--<div class="iframer">
      <iframe src='https://player.vimeo.com/video/159445965' width=427 height=200 frameborder=0 webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>-->
  </div>

  <div class="team_vam">
  <div class="wrappy">
    <h2>Project Directors</h2>

    <div class="lead">
      <%= image_tag "../images/seg/members/Claudia.jpg", class: "team_leads_image" %>
      <div class="team_leads_text">
        <h3>Claudia Nelson</h3>
        <p> Claudia Nielsen '18' is studying Civil Engineering in the College of Engineering.  Since her first semester freshman year, CUSD has inspired Claudia to work towards designing infrastructure focused around thoughtful and sustainable user relationships while bridging the gap between Architecture and Engineering.  Claudia loves dancing, photography, and exploring new places, and she can often be found hiking on nearby trails.</p>
        <a href="mailto:cn253@cornell.edu">
         <%= image_tag "../images/seg/email.png", class: "img_aligner_email" %>
         Email </a>
         <a href="https://www.linkedin.com/in/claudia-nielsen-97a2a1b2">
           <%= image_tag "../images/seg/linkedin.png", class: "img_aligner_linkedin" %>
           LinkedIn</a>
         </div>
     </div>
     <div class="lead">
        <%= image_tag "../images/seg/members/Arielle.jpg", class: "team_leads_image" %>
        <div class="team_leads_text">
          <h3>Arielle Tannin</h3>
          <p> Arielle Tannin '18' is studying Information Science in the College of Arts and Sciences. She joined CUSD in the second semester of her freshman year, which sparked her passion for designing and deploying socially impactful technology in communities with scarce resources. In her free time, Arielle loves to cook, listen to podcasts, and spend time in nature.</p>
          <a href="mailto:adt56@cornell.edu">
           <%= image_tag "../images/seg/email.png", class: "img_aligner_email" %>
           Email </a>
           <a href="https://www.linkedin.com/in/arielle-tannin-632094a9?trk=nav_responsive_tab_profile_pic">
             <%= image_tag "../images/seg/linkedin.png", class: "img_aligner_linkedin" %>
             LinkedIn</a>
           </div>
       </div>
    </div>
    <div class="vamer">
       <h2>Voices of African Mothers</h2>
    <!--     <iframe src='https://player.vimeo.com/video/159445965' width=427 height=200 frameborder=0 webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
          <p> VAM is a 501(c)3 that empowers women and children through providing them with the education to advocate for a peaceful African continent. VAM currently leads several microfinance and empowerment initiatives and oversees the successful John Williams Montessori School in Kumasi, Ghana and has plans to create a Montessori high school nearby. The goal of VAM Girls’ Academy (part of the larger VAM Village initiative) is to provide girls in the Volta region of Ghana and beyond with a nurturing, inspiring educational environment. Ecological stewardship fit naturally into the project as the location of VAM Village is situated on a beautiful, environmentally rich part of Ghana. The unmet need of investing in girls rising to be champions in environmentalism and peace has continued to inspire the partnership of VAM and CUSD. </p>
          <a href="http://www.vamothers.org/">Check out their website here</a>
    </div>
  </div>






      



  <div class="frame_wrap">
    <h2> See our team in action </h2>
    <div class="iframer">
      <iframe class="framey" src='https://player.vimeo.com/video/159445965' width=600 height=300 frameborder=0 
      webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>


    <div class="stat text-center">
      <ul>
        <li><h2> 4</h2> <span class="lighter">architects</span></li>
        <li><h2> 12</h2><span class="lighter">engineers</span></li>
        <li><h2> 1</h2> <span class="lighter">computer scientist </span></li>
        <li><h2> 3</h2><span class="lighter">designers </span></li>
      </ul>
    </div>

    <div class="team">
      <ul>
          <%= partial(:'partials/teampart', :locals => { :img_name => "Sirietta.jpg", :name => "Sirietta Simoncini",
          :position => "Advisor" }) %>
          <%= partial(:'partials/teampart', :locals => { :img_name => "Whitney.jpg", :name => "Whitney Van Houten",
          :position => "Advisor" }) %>
          <%= partial(:'partials/teampart', :locals => { :img_name => "Beth.jpg", :name => "Beth Burgess",
          :position => "Masters of Systems Engineering" }) %>
          <%= partial(:'partials/teampart', :locals => { :img_name => "Jai.jpg", :name => "Jai Bhagwat",
          :position => "Masters of Systems Engineering" }) %>
           <%= partial(:'partials/teampart', :locals => { :img_name => "Kaan.jpg", :name => "Kaan Nahin",
          :position => "Masters of Systems Engineering" }) %>
          <%= partial(:'partials/teampart', :locals => { :img_name => "Leslie.jpg", :name => "Leslie Munyao",
          :position => "Masters of Systems Engineering" }) %>
           <%= partial(:'partials/teampart', :locals => { :img_name => "Taneh.jpg", :name => "Taneh Worjoloh",
          :position => "Masters of Systems Engineering" }) %>
           <%= partial(:'partials/teampart', :locals => { :img_name => "Jenna.jpg", :name => "Jenna Levine",
          :position => "Materials Science and Engineering" }) %>
           <%= partial(:'partials/teampart', :locals => { :img_name => "Sarah.jpg", :name => "Sarah McDonald",
          :position => "Materials Science and Engineering" }) %>
           <%= partial(:'partials/teampart', :locals => { :img_name => "Sneha.jpg", :name => "Sneha Kabaria",
          :position => "Chemical Engineering" }) %>
          <%= partial(:'partials/teampart', :locals => { :img_name => "Ana.jpg", :name => "Ana-Moura Cook",
          :position => "Civil Engineering" }) %>
          <%= partial(:'partials/teampart', :locals => { :img_name => "Brianna.jpg", :name => "Brianna Hartner",
          :position => "Civil Engineering" }) %>
          <%= partial(:'partials/teampart', :locals => { :img_name => "Thomas.jpg", :name => "Thomas Seusser",
          :position => "Civil Engineering" }) %>
          <%= partial(:'partials/teampart', :locals => { :img_name => "Anamika.jpg", :name => "Anamika Goyal",
          :position => "Architecture" }) %>
          <%= partial(:'partials/teampart', :locals => { :img_name => "Ben.jpg", :name => "Ben Ross",
          :position => "Architecture" }) %>
          <%= partial(:'partials/teampart', :locals => { :img_name => "Daniel.jpg", :name => "Daniel Preston",
          :position => "Architecture" }) %>
          <%= partial(:'partials/teampart', :locals => { :img_name => "Isa.jpg", :name => "Isa Hübsch",
          :position => "Architecture" }) %>
           <%= partial(:'partials/teampart', :locals => { :img_name => "Nandini.jpg", :name => "Nandini Nayar",
          :position => "Computer Science and Biology" }) %>
           <%= partial(:'partials/teampart', :locals => { :img_name => "Carli.jpg", :name => "Carli Fraccarolli",
          :position => "Environmental Engineering" }) %>
           <%= partial(:'partials/teampart', :locals => { :img_name => "Becca.jpg", :name => "Becca Merenbach",
          :position => "Design and Environmental Analysis" }) %>
          <%= partial(:'partials/teampart', :locals => { :img_name => "Faith.jpg", :name => "Faith Wang",
          :position => "Design and Environmental Analysis" }) %>
          <%= partial(:'partials/teampart', :locals => { :img_name => "Isabel.jpg", :name => "Isabel Dunning",
          :position => "Design and Environmental Analysis" }) %>
      </ul> 
    </div>

    <div class="design_process">

      <div class="photo-strip photo-strip--seg " style="background-image: url(/images/seg/seg-about.jpg)">
        <div class="photo-strip__text bumper">
          <h1>Design Process</h1>
        </div>
      </div>

      <div class="design_process_spacer">

        <h2 class="year">2015</h2>

        <div class="timeline">
          <h3>Site Visit and Community Engagement: (Summer 2015)</h3>
          <p>In the summer of 2015, CUSD members Dan, Claudia, and Arielle went to Ghana upon receiving a travel grant from the office of Engaged Learning and Research at Cornell. While staying in Nana’s home, the students met with designers, a former mayor of Accra, and teachers and administrators at several local schools to learn about how to align educational and architectural needs in Ghana. The Cornell students also spent several days with the lively students of the John William Montessori School in Kumasi and experienced what their typical school days felt like. After meeting with many generous people, Dan, Claudia, and Arielle travelled to Sogakope to visit the site of VAM Village. They conducted a site survey and spoke with local contractors about their building practices while finishing work on another academic building on site. The trip was an incredible opportunity to meet the people we’d be working with and see the tremendous impact one’s educational environment can have on a student’s spirit.</p>

          <ul class="three">
            <li>
              <a href="../images/seg/site-1.jpg" data-lightbox="set1" data-title=""><img src="../images/seg/site-1.jpg" alt=""/></a>
            </li>
            <li>
              <a href="../images/seg/site-2.jpg" data-lightbox="set1" data-title=""><img src="../images/seg/site-2.jpg" alt=""/></a>
            </li>
            <li>
              <a href="../images/seg/site-3.jpg" data-lightbox="set1" data-title=""><img src="../images/seg/site-3.jpg" alt=""/></a>
            </li>
          </ul>
        </div>

        <div class="timeline">
          <h3>Deep Research and Analysis: (Fall 2015)</h3>
          <p>After recruiting nearly 30 students from all different majors and colleges, the research and problem definition stage of this project began. Deeply empathetic design and a steadfast commitment to sustainability form foundation of the Sustainable Education Ghana Project. To understand the needs of our eventual users, the team conducted architectural case studies in similar regions.</p>

          <ul class="two">
            <li>
              <a href="../images/seg/research-1.jpg" data-lightbox="set1" data-title=""><img src="../images/seg/research-1.jpg" alt=""/></a>
            </li>
            <li>
              <a href="../images/seg/research-2.jpg" data-lightbox="set1" data-title=""><img src="../images/seg/research-2.jpg" alt=""/></a>
            </li>
          </ul>

          <p>We worked with young students to gain insights about how their built environment affects learning. This thorough research phase was essential to ensuring that our design respected the architectural traditions of the area and could serve as an example of how sustainable practices and human-centered design could be replicated in the region.</p>

          <ul class="three">
            <li>
              <a href="../images/seg/research-3.jpg" data-lightbox="set1" data-title=""><img src="../images/seg/research-3.jpg" alt=""/></a>
            </li>
            <li>
              <a href="../images/seg/research-4.jpg" data-lightbox="set1" data-title=""><img src="../images/seg/research-4.jpg" alt=""/></a>
            </li>
            <li>
              <a href="../images/seg/research-5.jpg" data-lightbox="set1" data-title=""><img src="../images/seg/research-5.jpg" alt=""/></a>
            </li>
          </ul>
        </div>

        <div class="timeline">
          <h3>Architectural and Systems Design: (Spring 2016-Fall 2016)</h3>
          <p>As an interdisciplinary team, every member contributed to the overall design concept of the schoolhouse. After many different ideations of the schoolhouse design were created by the smaller groups, the designs were analyzed to identify the most important elements to incorporate into first iteration of a final schoolhouse design. The architecture students then worked on the finalized design concept while the remainder of the team developed systems for water collection, heating, cooling, and energy. Regular architecture critiques were held with the SEG team and professors to not only emphasize such key characteristics as practicality and functionality, but also the takeaways gained through the extensive human centered design research. The resulting design reflects our commitment to traditional Ghanaian architecture, sustainable and ecological exploration, and emphasis on the emotional needs of the student.</p>

          <ul class="three">
            <li>
              <a href="../images/seg/seg-about.jpg" data-lightbox="set1" data-title=""><img src="../images/seg/design-2.jpg" alt=""/></a>
            </li>
            <li>
              <a href="../images/seg/design-quality.jpg" data-lightbox="set1" data-title=""><img src="../images/seg/design-1.jpg" alt=""/></a>
            </li>
            <li>
              <a href="../images/seg/seg-hero.jpg" data-lightbox="set1" data-title=""><img src="../images/seg/design-3.jpg" alt=""/></a>
            </li>
          </ul>
        </div>


        <h2 class="year">2016</h2>

        <div class="timeline">
          <h3>Fundraising and Promotion: (Now)</h3>
          <p>As we mark the final design and engineering tasks complete, SEG is now being publicized and presented to anyone who feels passionately about education, environmental sustainability, or women’s empowerment. Please check this page for updates about the project and materials that are being finalized.</p>
        </div>
      </div>
    </div>

    <div class="bck_img">
      <div class="footy">
       <div class="">
        <h4>If you support our mission, please consider donating so we can begin construction in December 2016</h4>
        <% content_tag :a, href:'/donate', :class => "button mini" do %> Donate <% end %>
      </div>
    </div>
  </div>





